/*------------------------------------*\
#FONTS
\*------------------------------------*/
@font-face {
    font-family: "WorkSans Web";
    font-weight: 400;
    src: url("../fonts/WorkSans-Regular.ttf") format("ttf")
}

@font-face {
    font-family: "WorkSans Web";
    font-weight: 600;
    src: url("../fonts/WorkSans-Medium.ttf") format("ttf")
}

@font-face {
    font-family: "WorkSans Web";
    font-weight: 800;
    src: url("../fonts/WorkSans-Bold.ttf") format("ttf")
}
/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-back: #011125;
    --color-front: #ffffff;

    /* opacity */

    /* transitions */

    /*logo width & height */
    --sun-width: 250px;
    --sun-height: 250px;

    --astroid-width: 200%;
    --astroiddetail-width: 150%;

    --ufo-width: 100%;
    /* --ufo-height: 25px; */
    
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "WorkSans Web", Helvetica, arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "zero" 1;

    /* page colors */
    background-color: var(--color-back);
    color: var(--color-front);


}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

.spaceImg{
    /* background */
    background-image: url("../img/png/space.png");
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;

    overflow:hidden;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}


/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: red;
    color: white;
    text-shadow: none;
}

::selection {
    background: red;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 500%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    display: flow-root; /* New solution! Fixes margin collapsing */
    position: relative;
    padding: 24px 24px 0;
}

/* size modifiers */

.o-row--lg {
    padding: 48px 24px 24px;
}

/* color modifiers */

.o-row--neutral-xxxx-light {
    background-color: #fff;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }

    .o-row--md {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .o-row--lg {
        padding-top: 72px;
        padding-bottom: 48px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 71em; /* 71 * 18px = 1278px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    /* overflow-x: hidden; */
    position: relative;
    display: flow-root; /* New solution! Fixes margin collapsing */
}

.o-section + .o-section {
    padding-top: 24px;
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        padding-top: 48px;
    }
}

@media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        padding-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    .o-layout__item {
        flex-basis: 100%;
    }

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 24px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    display: flex;
    align-items: center;

    margin-top: 32px;

    /*text*/
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

/*
    Component: Earth
    ---
    The Earth
*/

.c-earth{
    position: absolute;
    top: 110%;  /* stond op 50%*/
    left: 50%;
    transform: translate(-50%, -50%);

    /* width: var(--sun-width);
    height: var(--sun-height); */

    width: 110%; 
}

@media (min-width: 600Px ){
    .c-earth{
        top: 100%;
        width: 25%;
    }
}

/*
    Component: Astroid
    ---
    The Astroid
*/

.c-astroid{
    width: var(--astroid-width);
    height: var(--astroid-height);
}

.c-astroidcontainer{
    position: absolute;
    bottom: 25%;
    width: 100%;
}

.c-astroiddetail{
    width: var(--astroiddetail-width);
    height: var(--astroid-height);
}

.c-astroidcontainerdetail{
    position: relative;
    width: 50%;
}

.c-astroid-dates{
    height: 250px;
    overflow: scroll;
}

/*
    Component: UFO
    ---
    The UFO
*/
.c-ufo{
    width: var(--ufo-width);
    height: var(--ufo-height);
}

.c-ufo-move{
    position: relative;
    height: 100%;
    width:100%;

    animation-name: UFO-float;
    animation-duration: 75s;
    animation-iteration-count: infinite;
}

@keyframes UFO-float {
    0%   {left:5%; top:-50px;}
    10%  {left:25%; top:-100px;}
    20%  {left:55%; top:-250px;}
    30%  {left:5%; top:-400px;}
    40%  {left:10%; top:-375px;}
    50%  {left:80%; top:-300px;}
    60%  {left:50%; top:-150px;}
    70%  {left:55%; top:-175px;}
    80%  {left:90%; top:-50px;}
    90%  {left:45%; top:-30px;}
    100% {left:5%; top:-50px;}
    
}

/*
    Component: App
    ---
    Main app wrapper
*/
.c-app{
   max-width: 359px;
   margin: auto;
}

.c-app__summary{
    font-size: 28px;
    line-height: 40px;

}

/*
    Component: Horizon
    ---
    Horizon with sun visualisation
*/
.c-hoizon__bottom{
    max-width: 359px;
    position: absolute;
    bottom: 0px;
}
.c-horizon__line{
    display: flex;
    justify-content: space-between;

    border-top: 1px solid var(--color-front);
    margin-bottom: 34px;
    padding-top: 7px;
}

.c-horizon__time{
    font-size: 12px;
    line-height: 16px;
}

.c-horizon__sky-wrapper {
    position: relative;
    height: 200px;
    overflow: hidden;

    padding-top: 22px;
    padding-right: 40px;
}

.c-horizon__sky {
    position: relative;
    height: 100%;
}

.c-horizon__space {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;

    transform: translateY(22px)
}

.c-dashboard {
    display: grid;
    grid-gap: var(--global-whitespace-lg);
    margin-bottom: var(--global-whitespace-md);

    border-radius: 10px;
    background-color: var(--color-back);

    position: relative;
    width: 100%;
}

.c-dashboard__item {
    width: 100%;
    box-shadow: var(--global-box-shadow);
    /* background-color: var(--color-back); */

}

@media screen and (min-width: 62em) {
    .c-dashboard {
        grid-template-columns: repeat(4, 1fr);
    }

    .c-dashboard__item {
        grid-column: 2 / -2;
    }
}

/*
    Component: Card
*/

.c-card {
    width: 100%;
}

.c-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: var(--global-whitespace-md); */
}

.c-card__title {
    margin-bottom: 0;
    /* font-size: 18px;
    line-height: 25px; */
    font-size: 1.2rem;
    line-height: calc(var(--global-baseline) * 5);
}

/* .c-card__body {
    height: 100%;
} */


.c-card__header,
.c-card__body {
    padding: var(--global-whitespace-md);
}

.c-card__header {
    padding-bottom: 0;
}

.c-card__header > *:last-child,
.c-card__body > *:last-child {
    margin-bottom: 0;
}


/*
    Component: CTA link
    ---
    Small cta link with custom animation
*/

.c-link-cta {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    padding: 16px 32px;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    background: linear-gradient(to right, #033AA7 0%, #0053FB 51%, #033AA7 100%);
    background-size: 200% auto;
    box-shadow: inset 0 0 0 1px rgba(142,199,255,.2), 0 0 10px rgba(17,149,255,.30) ;
}

.c-link-cta,
.c-link-cta:visited,
.c-link-cta:active {
    color: #DBEDFF;
}

.c-link-cta:hover {
    color: #fff;
    background-position: right center;
    box-shadow: inset 0 0 0 1px rgba(142,199,255,.4), 0 0 10px rgba(17,149,255,.8) ;
}

/*
    Component: figure
    ---
    Special type of figure and figcaption
*/

.c-figure {
    display: flex;
    justify-content: center;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/
.u-muted{
    opacity: 60%;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
    flex-basis: auto !important;
}

.u-flex-grow-1 {
    flex-grow: 1 !important;
}

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }
    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }
    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }
    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }
    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }
    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }
    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }
    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }
    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }
    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }
    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

/*
    Utilities: span
    Utility classes to span grid items across the x and y axis
*/

/* x: horizontal */

@media (min-width: 62em) {

    .u-x-span-2-bp3 {
        grid-column: span 2;
    }

    .u-x-span-3-bp3 {
        grid-column: span 3;
    }

    .u-x-span-4-bp3 {
        grid-column: span 4;
    }

    .u-x-span-6-bp3 {
        grid-column: span 6;
    }

    .u-x-span-8-bp3 {
        grid-column: span 8;
    }

    .u-x-span-9-bp3 {
        grid-column: span 9;
    }

}

/* y: vertical */

@media (min-width: 62em) {

    .u-y-span-2-bp3 {
        grid-row: span 2;
    }

}



/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

.is-night {
    --color-front: #CCE7FF;
    --color-back:  #0F3557;
 }
/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
